<app-navbar></app-navbar>

<div class="container mt-3">

  <h3 class="mt-3">Answer the ff:</h3>
  <hr/>

  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <form (ngSubmit)="onSubmitAnswer()">
        <alert></alert>
        <div *ngFor="let q of questions; let i = index;" class="form-group">

              <label for="inputQuestion">{{i+1}}. {{q.question}}</label>
              <div *ngIf="q.choices.length > 0">
                <div *ngFor="let c of q.choices; let i = index;" class="form-check ml-5">
                  <input type="radio" class="form-check-input" [(ngModel)]="q.answer" id="{{c.choices}}" name="{{q.question}}" [ngModelOptions]="{standalone: true}" value="{{c.choices}}">
                  <label class="form-check-label" for="{{c.choices}}">
                    {{c.choices}}
                  </label>
                  
                </div>
              </div>

              <div *ngIf="q.choices == 0">
                   <textarea class="form-control" rows="5" [(ngModel)]="q.answer" [ngModelOptions]="{standalone: true}" required></textarea>
              </div>
        </div>
          <hr/>
           <button type="submit" class="btn btn-primary rounded-0">Submit</button>
      </form>

    </div>
  </div>
</div>
