
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" routerLink="/edit">Questionnaire</a>
  
<button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
  aria-controls="collapseExample">
  <span class="navbar-toggler-icon"></span>
</button>

  
  <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/edit">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/answer">Answer</a>
      </li>
    </ul>
  </div>

</nav>