<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Answers</title>
</head>
<body>
    <h1>Answers</h1>
    <hr/>
    {{#each answers}}
        <p>{{this.answer}}</h2></p>
    {{/each}}
</body>
</html>