<app-navbar></app-navbar>

<div class="container mt-3">
  <div class="row">

    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary rounded-0" (click)="setSelectionType(true)"> Text Type</button>
        <button type="button" class="btn btn-outline-primary rounded-0" (click)="setSelectionType(false)"> Selection
          Type</button>
      </div>

    </div>

  </div>

  <div class="row mt-3">

    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

      <alert></alert>
      <button type="button" class="btn btn-outline-danger btn-sm float-right rounded-0" (click)="onRemove(model)">Remove</button>
      <div class="clearfix"></div>

      <form (ngSubmit)="onSubmitTextType()">

        <div class="form-group">

          <label for="inputQuestion">Question</label>

          <textarea class="form-control" [(ngModel)]="model.question" name="question" rows="5"
            id="inputQuestion" required></textarea>
        </div>

        <div *ngIf="!textType">
          <div *ngFor="let a of model.choices; let i = index;" class="form-row">

            <div class="form-group col-lg-10 col-md-10">
              <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="a.choices"  class="form-control rounded-0" />
            </div>

            <div class="form-group col-lg-2 col-md-2">
              <button  type="button" class="btn btn-outline-danger btn-block rounded-0" (click)="onRemoveChoices(i)">Remove</button>
            </div>

          </div>

          <button type="button" class="btn btn-outline-secondary float-right btn-sm rounded-0" (click)="addChoices()">Add
            Choices</button>
        </div>
        <button type="submit" class="btn btn-primary rounded-0">Submit</button>

      </form>
    </div>

  </div>

  <div class="row mt-3">

    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Question</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of questions">
            <td>{{q.question}}</td>
            <td><button type="button" (click)="editQuestion(q)" class="btn btn-outline-secondary">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
